<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>Argentina</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Australia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Austria</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bangladesh</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Belgium</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brazil</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canada</string>
			<key>provinces</key>
			<array>
				<dict>
					<key>name</key>
					<string>Alberta</string>
					<key>cities</key>
					<array>
						<string>Calgary</string>
						<string>Edmonton</string>
						<string>Red Deer</string>
						<string>Lethbridge</string>
						<string>Medicine Hat</string>
						<string>Fort McMurray</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>British Columbia</string>
					<key>cities</key>
					<array>
						<string>Vancouver</string>
						<string>Surrey</string>
						<string>Burnaby</string>
						<string>Richmond</string>
						<string>Kelowna</string>
						<string>Kamloops</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Manitoba</string>
					<key>cities</key>
					<array>
						<string>Winnipeg</string>
						<string>Brandon</string>
						<string>Steinbach</string>
						<string>Thompson</string>
						<string>Portage la Prairie</string>
						<string>Selkirk</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>New Brunswick</string>
					<key>cities</key>
					<array>
						<string>Saint John</string>
						<string>Moncton</string>
						<string>Fredericton</string>
						<string>Miramichi</string>
						<string>Bathurst</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Newfoundland and Labrador</string>
					<key>cities</key>
					<array>
						<string>St. John's</string>
						<string>Mount Pearl</string>
						<string>Corner Brook</string>
						<string>Conception Bay South</string>
						<string>Grand Falls-Windsor</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Nova Scotia</string>
					<key>cities</key>
					<array>
						<string>Halifax</string>
						<string>Dartmouth</string>
						<string>Sydney</string>
						<string>Truro</string>
						<string>New Glasgow</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Ontario</string>
					<key>cities</key>
					<array>
						<string>Toronto</string>
						<string>Ottawa</string>
						<string>Mississauga</string>
						<string>Hamilton</string>
						<string>Brampton</string>
						<string>London</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Prince Edward Island</string>
					<key>cities</key>
					<array>
						<string>Charlottetown</string>
						<string>Summerside</string>
						<string>Stratford</string>
						<string>Cornwall</string>
						<string>Montague</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Quebec</string>
					<key>cities</key>
					<array>
						<string>Montreal</string>
						<string>Quebec City</string>
						<string>Laval</string>
						<string>Gatineau</string>
						<string>Longueuil</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Saskatchewan</string>
					<key>cities</key>
					<array>
						<string>Saskatoon</string>
						<string>Regina</string>
						<string>Prince Albert</string>
						<string>Moose Jaw</string>
						<string>Swift Current</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Chile</string>
		</dict>
		<dict>
			<key>name</key>
			<string>China</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Colombia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Czech Republic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Denmark</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Egypt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Finland</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Germany</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Greece</string>
		</dict>
		<dict>
			<key>name</key>
			<string>India</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Indonesia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iran</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Israel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Italy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Japan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Malaysia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mexico</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Netherlands</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nigeria</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Norway</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pakistan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Philippines</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Poland</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Portugal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Romania</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Russia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saudi Arabia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Singapore</string>
		</dict>
		<dict>
			<key>name</key>
			<string>South Africa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>South Korea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spain</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sweden</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Switzerland</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Taiwan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Thailand</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Turkey</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ukraine</string>
		</dict>
		<dict>
			<key>name</key>
			<string>United Arab Emirates</string>
		</dict>
		<dict>
			<key>name</key>
			<string>United Kingdom</string>
		</dict>
		<dict>
			<key>name</key>
			<string>United States</string>
			<key>states</key>
			<array>
				<dict>
					<key>name</key>
					<string>Alabama</string>
					<key>cities</key>
					<array>
						<string>Birmingham</string>
						<string>Montgomery</string>
						<string>Mobile</string>
						<string>Huntsville</string>
						<string>Tuscaloosa</string>
						<string>Hoover</string>
						<string>Dothan</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Alaska</string>
					<key>cities</key>
					<array>
						<string>Anchorage</string>
						<string>Fairbanks</string>
						<string>Juneau</string>
						<string>Sitka</string>
						<string>Ketchikan</string>
						<string>Wasilla</string>
						<string>Kenai</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Arizona</string>
					<key>cities</key>
					<array>
						<string>Phoenix</string>
						<string>Tucson</string>
						<string>Mesa</string>
						<string>Chandler</string>
						<string>Glendale</string>
						<string>Scottsdale</string>
						<string>Gilbert</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Arkansas</string>
					<key>cities</key>
					<array>
						<string>Little Rock</string>
						<string>Fort Smith</string>
						<string>Fayetteville</string>
						<string>Springdale</string>
						<string>Jonesboro</string>
						<string>North Little Rock</string>
						<string>Conway</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>California</string>
					<key>cities</key>
					<array>
						<string>Los Angeles</string>
						<string>San Diego</string>
						<string>San Jose</string>
						<string>San Francisco</string>
						<string>Fresno</string>
						<string>Sacramento</string>
						<string>Long Beach</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Colorado</string>
					<key>cities</key>
					<array>
						<string>Denver</string>
						<string>Colorado Springs</string>
						<string>Aurora</string>
						<string>Fort Collins</string>
						<string>Lakewood</string>
						<string>Thornton</string>
						<string>Arvada</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Connecticut</string>
					<key>cities</key>
					<array>
						<string>Bridgeport</string>
						<string>New Haven</string>
						<string>Hartford</string>
						<string>Stamford</string>
						<string>Waterbury</string>
						<string>Norwalk</string>
						<string>Danbury</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Delaware</string>
					<key>cities</key>
					<array>
						<string>Wilmington</string>
						<string>Dover</string>
						<string>Newark</string>
						<string>Middletown</string>
						<string>Smyrna</string>
						<string>Milford</string>
						<string>Seaford</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Florida</string>
					<key>cities</key>
					<array>
						<string>Jacksonville</string>
						<string>Miami</string>
						<string>Tampa</string>
						<string>Orlando</string>
						<string>St. Petersburg</string>
						<string>Hialeah</string>
						<string>Tallahassee</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Georgia</string>
					<key>cities</key>
					<array>
						<string>Atlanta</string>
						<string>Columbus</string>
						<string>Augusta</string>
						<string>Savannah</string>
						<string>Athens</string>
						<string>Sandy Springs</string>
						<string>Macon</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Hawaii</string>
					<key>cities</key>
					<array>
						<string>Honolulu</string>
						<string>Pearl City</string>
						<string>Hilo</string>
						<string>Kailua</string>
						<string>Waipahu</string>
						<string>Kaneohe</string>
						<string>Mililani</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Idaho</string>
					<key>cities</key>
					<array>
						<string>Boise</string>
						<string>Nampa</string>
						<string>Meridian</string>
						<string>Idaho Falls</string>
						<string>Pocatello</string>
						<string>Caldwell</string>
						<string>Coeur d'Alene</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Illinois</string>
					<key>cities</key>
					<array>
						<string>Chicago</string>
						<string>Aurora</string>
						<string>Rockford</string>
						<string>Joliet</string>
						<string>Naperville</string>
						<string>Springfield</string>
						<string>Peoria</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Indiana</string>
					<key>cities</key>
					<array>
						<string>Indianapolis</string>
						<string>Fort Wayne</string>
						<string>Evansville</string>
						<string>South Bend</string>
						<string>Carmel</string>
						<string>Bloomington</string>
						<string>Fishers</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Iowa</string>
					<key>cities</key>
					<array>
						<string>Des Moines</string>
						<string>Cedar Rapids</string>
						<string>Davenport</string>
						<string>Sioux City</string>
						<string>Iowa City</string>
						<string>Waterloo</string>
						<string>Ames</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Kansas</string>
					<key>cities</key>
					<array>
						<string>Wichita</string>
						<string>Overland Park</string>
						<string>Kansas City</string>
						<string>Topeka</string>
						<string>Olathe</string>
						<string>Lawrence</string>
						<string>Shawnee</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Kentucky</string>
					<key>cities</key>
					<array>
						<string>Louisville</string>
						<string>Lexington</string>
						<string>Bowling Green</string>
						<string>Owensboro</string>
						<string>Covington</string>
						<string>Hopkinsville</string>
						<string>Richmond</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Louisiana</string>
					<key>cities</key>
					<array>
						<string>New Orleans</string>
						<string>Baton Rouge</string>
						<string>Shreveport</string>
						<string>Lafayette</string>
						<string>Lake Charles</string>
						<string>Kenner</string>
						<string>Bossier City</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Maine</string>
					<key>cities</key>
					<array>
						<string>Portland</string>
						<string>Lewiston</string>
						<string>Bangor</string>
						<string>South Portland</string>
						<string>Auburn</string>
						<string>Biddeford</string>
						<string>Sanford</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Maryland</string>
					<key>cities</key>
					<array>
						<string>Baltimore</string>
						<string>Frederick</string>
						<string>Rockville</string>
						<string>Gaithersburg</string>
						<string>Bowie</string>
						<string>Hagerstown</string>
						<string>Annapolis</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Massachusetts</string>
					<key>cities</key>
					<array>
						<string>Boston</string>
						<string>Worcester</string>
						<string>Springfield</string>
						<string>Lowell</string>
						<string>Cambridge</string>
						<string>New Bedford</string>
						<string>Brockton</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Michigan</string>
					<key>cities</key>
					<array>
						<string>Detroit</string>
						<string>Grand Rapids</string>
						<string>Warren</string>
						<string>Sterling Heights</string>
						<string>Lansing</string>
						<string>Ann Arbor</string>
						<string>Flint</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Minnesota</string>
					<key>cities</key>
					<array>
						<string>Minneapolis</string>
						<string>St. Paul</string>
						<string>Rochester</string>
						<string>Bloomington</string>
						<string>Duluth</string>
						<string>Brooklyn Park</string>
						<string>Plymouth</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Mississippi</string>
					<key>cities</key>
					<array>
						<string>Jackson</string>
						<string>Gulfport</string>
						<string>Southaven</string>
						<string>Hattiesburg</string>
						<string>Biloxi</string>
						<string>Meridian</string>
						<string>Tupelo</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Missouri</string>
					<key>cities</key>
					<array>
						<string>Kansas City</string>
						<string>St. Louis</string>
						<string>Springfield</string>
						<string>Columbia</string>
						<string>Independence</string>
						<string>Lee's Summit</string>
						<string>O'Fallon</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Montana</string>
					<key>cities</key>
					<array>
						<string>Billings</string>
						<string>Missoula</string>
						<string>Great Falls</string>
						<string>Bozeman</string>
						<string>Butte</string>
						<string>Helena</string>
						<string>Kalispell</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Nebraska</string>
					<key>cities</key>
					<array>
						<string>Omaha</string>
						<string>Lincoln</string>
						<string>Bellevue</string>
						<string>Grand Island</string>
						<string>Kearney</string>
						<string>Fremont</string>
						<string>Hastings</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Nevada</string>
					<key>cities</key>
					<array>
						<string>Las Vegas</string>
						<string>Henderson</string>
						<string>Reno</string>
						<string>North Las Vegas</string>
						<string>Sparks</string>
						<string>Carson City</string>
						<string>Elko</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>New Hampshire</string>
					<key>cities</key>
					<array>
						<string>Manchester</string>
						<string>Nashua</string>
						<string>Concord</string>
						<string>Derry</string>
						<string>Dover</string>
						<string>Rochester</string>
						<string>Salem</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>New Jersey</string>
					<key>cities</key>
					<array>
						<string>Newark</string>
						<string>Jersey City</string>
						<string>Paterson</string>
						<string>Elizabeth</string>
						<string>Edison</string>
						<string>Woodbridge</string>
						<string>Lakewood</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>New Mexico</string>
					<key>cities</key>
					<array>
						<string>Albuquerque</string>
						<string>Las Cruces</string>
						<string>Rio Rancho</string>
						<string>Santa Fe</string>
						<string>Roswell</string>
						<string>Farmington</string>
						<string>Clovis</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>New York</string>
					<key>cities</key>
					<array>
						<string>New York City</string>
						<string>Buffalo</string>
						<string>Rochester</string>
						<string>Yonkers</string>
						<string>Syracuse</string>
						<string>Albany</string>
						<string>New Rochelle</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>North Carolina</string>
					<key>cities</key>
					<array>
						<string>Charlotte</string>
						<string>Raleigh</string>
						<string>Greensboro</string>
						<string>Durham</string>
						<string>Winston-Salem</string>
						<string>Fayetteville</string>
						<string>Cary</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>North Dakota</string>
					<key>cities</key>
					<array>
						<string>Fargo</string>
						<string>Bismarck</string>
						<string>Grand Forks</string>
						<string>Minot</string>
						<string>West Fargo</string>
						<string>Mandan</string>
						<string>Dickinson</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Ohio</string>
					<key>cities</key>
					<array>
						<string>Columbus</string>
						<string>Cleveland</string>
						<string>Cincinnati</string>
						<string>Toledo</string>
						<string>Akron</string>
						<string>Dayton</string>
						<string>Parma</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Oklahoma</string>
					<key>cities</key>
					<array>
						<string>Oklahoma City</string>
						<string>Tulsa</string>
						<string>Norman</string>
						<string>Broken Arrow</string>
						<string>Lawton</string>
						<string>Edmond</string>
						<string>Moore</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Oregon</string>
					<key>cities</key>
					<array>
						<string>Portland</string>
						<string>Eugene</string>
						<string>Salem</string>
						<string>Gresham</string>
						<string>Hillsboro</string>
						<string>Beaverton</string>
						<string>Bend</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Pennsylvania</string>
					<key>cities</key>
					<array>
						<string>Philadelphia</string>
						<string>Pittsburgh</string>
						<string>Allentown</string>
						<string>Erie</string>
						<string>Reading</string>
						<string>Scranton</string>
						<string>Bethlehem</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Rhode Island</string>
					<key>cities</key>
					<array>
						<string>Providence</string>
						<string>Warwick</string>
						<string>Cranston</string>
						<string>Pawtucket</string>
						<string>East Providence</string>
						<string>Woonsocket</string>
						<string>Coventry</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>South Carolina</string>
					<key>cities</key>
					<array>
						<string>Columbia</string>
						<string>Charleston</string>
						<string>North Charleston</string>
						<string>Mount Pleasant</string>
						<string>Rock Hill</string>
						<string>Greenville</string>
						<string>Summerville</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>South Dakota</string>
					<key>cities</key>
					<array>
						<string>Sioux Falls</string>
						<string>Rapid City</string>
						<string>Aberdeen</string>
						<string>Brookings</string>
						<string>Watertown</string>
						<string>Mitchell</string>
						<string>Yankton</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Tennessee</string>
					<key>cities</key>
					<array>
						<string>Nashville</string>
						<string>Memphis</string>
						<string>Knoxville</string>
						<string>Chattanooga</string>
						<string>Clarksville</string>
						<string>Murfreesboro</string>
						<string>Franklin</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Texas</string>
					<key>cities</key>
					<array>
						<string>Houston</string>
						<string>San Antonio</string>
						<string>Dallas</string>
						<string>Austin</string>
						<string>Fort Worth</string>
						<string>El Paso</string>
						<string>Arlington</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Utah</string>
					<key>cities</key>
					<array>
						<string>Salt Lake City</string>
						<string>West Valley City</string>
						<string>Provo</string>
						<string>West Jordan</string>
						<string>Orem</string>
						<string>Sandy</string>
						<string>Ogden</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Vermont</string>
					<key>cities</key>
					<array>
						<string>Burlington</string>
						<string>South Burlington</string>
						<string>Rutland</string>
						<string>Essex</string>
						<string>Colchester</string>
						<string>Bennington</string>
						<string>Brattleboro</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Virginia</string>
					<key>cities</key>
					<array>
						<string>Virginia Beach</string>
						<string>Norfolk</string>
						<string>Chesapeake</string>
						<string>Richmond</string>
						<string>Newport News</string>
						<string>Alexandria</string>
						<string>Hampton</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Washington</string>
					<key>cities</key>
					<array>
						<string>Seattle</string>
						<string>Spokane</string>
						<string>Tacoma</string>
						<string>Vancouver</string>
						<string>Bellevue</string>
						<string>Kent</string>
						<string>Everett</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>West Virginia</string>
					<key>cities</key>
					<array>
						<string>Charleston</string>
						<string>Huntington</string>
						<string>Parkersburg</string>
						<string>Morgantown</string>
						<string>Wheeling</string>
						<string>Weirton</string>
						<string>Fairmont</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Wisconsin</string>
					<key>cities</key>
					<array>
						<string>Milwaukee</string>
						<string>Madison</string>
						<string>Green Bay</string>
						<string>Kenosha</string>
						<string>Racine</string>
						<string>Appleton</string>
						<string>Waukesha</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Wyoming</string>
					<key>cities</key>
					<array>
						<string>Cheyenne</string>
						<string>Casper</string>
						<string>Laramie</string>
						<string>Gillette</string>
						<string>Rock Springs</string>
						<string>Sheridan</string>
						<string>Green River</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Vietnam</string>
		</dict>
	</array>
</plist>